<%= render 'info', books: @books %>

  <h1>Usersindexのページ</h1>
<% @users.each do |user| %>
<div>
  <p><%= user.name %></p>
  <p>投稿ユーザー画像：<%= attachment_image_tag user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %></p>
</div>
<% end %>