<!--投稿フォーム（_info.html.erb）を呼ぶ-->
<%= render 'info', book: @book ,user: @user%>
<div class="col-md-8 offset-md-1">
  <h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th>image</th>
          <th>user</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %></td>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user_path(user) %></td>
        </tr>
        <% end%>
      </tbody>
    </table>
</div>
