<!--infoフォルダがusersに入ってるのでusers/info-->
<%= render 'users/info', book: @book ,user: @user%>
<div class= "col-8">
<h3>books index</h3>
<% @books.each do |book| %>
  <div>
    <p>本の題名：
      
    </p>
    <p><%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %></p>
    <p>説明：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>
</div>