<h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>
<div><i class="fas fa-book"></i>In Bookers,</div>
<div>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</div>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
